# Exploratory Data Analysis

## Import

In [ ]:
import pandas as pd
import sys
import os
import unidecode
import json

## Raw Data

In [2]:
df_movie = pd.read_csv("../data/raw/TMDB_movie_dataset_v11.csv")
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304590 entries, 0 to 1304589
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1304590 non-null  int64
 1   title                 1304574 non-null  object
 2   vote_average          1304590 non-null  float64
 3   vote_count            1304590 non-null  int64
 4   status                1304590 non-null  object
 5   release_date          1044077 non-null  object
 6   revenue               1304590 non-null  int64
 7   runtime               1304590 non-null  int64
 8   adult                 1304590 non-null  bool
 9   backdrop_path         333216 non-null   object
 10  budget                1304590 non-null  int64
 11  homepage              135618 non-null   object
 12  imdb_id               642282 non-null   object
 13  original_language     1304590 non-null  object
 14  original_title        1304574 non-null  object
 15  overview              1015635 non-null  object
 16  popularity            1304590 non-null  float64
 17  poster_path           861453 non-null   object
 18  tagline               181994 non-null   object
 19  genres                748988 non-null   object
 20  production_companies  568509 non-null   object
 21  production_countries  692159 non-null   object
 22  spoken_languages      716353 non-null   object
 23  keywords              333388 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 230.2+ MB

## Checking the relevant data

- Removendo campos que não irão ser relevantes a nossas métricas.

In [ ]:
df_movie.drop(columns=['poster_path','tagline','imdb_id','homepage','backdrop_path','overview','spoken_languages'],inplace=True)
df_movie = df_movie.loc[~(df_movie['adult'] == True)]
df_movie = df_movie.loc[(df_movie['status'] == 'Released')]
df_movie.drop(columns=['adult'],inplace=True)
df_movie.drop(columns=['status'],inplace=True)
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1136081 entries, 0 to 1304589
Data columns (total 16 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1136081 non-null  int64
 1   title                 1136070 non-null  object
 2   vote_average          1136081 non-null  float64
 3   vote_count            1136081 non-null  int64
 4   release_date          915020 non-null   object
 5   revenue               1136081 non-null  int64
 6   runtime               1136081 non-null  int64
 7   budget                1136081 non-null  int64
 8   original_language     1136081 non-null  object
 9   original_title        1136070 non-null  object
 10  popularity            1136081 non-null  float64
 11  genres                704350 non-null   object
 12  production_companies  446399 non-null   object
 13  production_countries  592814 non-null   object
 14  spoken_languages      623131 non-null   object
 15  keywords              274489 non-null   object
dtypes: float64(2), int64(5), object(9)
memory usage: 147.3+ MB

## Null Values and Filtering

- Removendo items com ids duplicados.
- Removendo entradas sem 
- Irei separar as keywords em outro dataset apenas para word cloud and word count.

In [ ]:
df_movie = df_movie.drop_duplicates(subset='id', keep='first')
df_movie = df_movie.loc[~df_movie['title'].isna()]
df_keywords = df_movie['keywords'].dropna()
df_movie.drop(columns=['keywords'],inplace=True)
df_movie['release_date'] = pd.to_datetime(df_movie['release_date'], errors='coerce')
df_movie.isnull().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
release_date            220492
revenue                      0
runtime                      0
budget                       0
original_language            0
original_title               0
popularity                   0
genres                  431122
production_companies    688981
production_countries    542574
dtype: int64

In [42]:
df_movie.loc[~
    ((df_movie['revenue'] == 0) | (df_movie['budget'] == 0))
    ]

,id,title,vote_average,vote_count,release_date,revenue,runtime,budget,original_language,original_title,popularity,genres,production_companies,production_countries
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America"
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,165000000,en,Interstellar,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America"
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,185000000,en,The Dark Knight,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America"
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,237000000,en,Avatar,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom"
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,220000000,en,The Avengers,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300293,809904,Old Home on the Corner,0.000,0,2021-03-03,250,2,100,en,Old Home on the Corner,0.600,"Drama, Documentary, Fantasy",Love Streams Films,United States of America
1300885,817609,Tatlı Bela,0.000,0,1961-01-01,100000,0,75000,tr,Tatlı Bela,1.400,Adventure,Güven Film,Turkey
1300906,817595,The Last Draw,0.000,0,NaN,20000,90,100,en,The Last Draw,0.600,NaN,NaN,NaN
1301488,816771,Granny: House of Fire,0.000,0,NaN,15,18,15,en,Granny: House of Fire,0.600,"Horror, Action",NaN,NaN
1301835,819073,Kan Gövdeyi Götürdü,0.000,0,1965-01-01,105000,0,55000,tr,Kan Gövdeyi Götürdü,0.683,"Action, Thriller, Adventure","Metin Film, Lale Film",Turkey

> - Podemos notar, a principio, que temos 15 mil entradas com informações financeiras completas.
> - Irei verificar se existem entradas relevantes fora dessa amostragem.

## Subsets

### Subsets com a tabela toda

- Criando tabelas de estatísticas antes de filtrar os filmes por popularidade.

In [58]:
filtered_rows = len(df_movie.loc[
    ((df_movie['popularity'] < 1.5) & (df_movie['vote_count'] < 25)) &
    ((df_movie['revenue'] == 0) | (df_movie['budget'] == 0))
    ].sort_values("popularity", ascending=False))

total_rows = len(df_movie)
percentage = (filtered_rows / total_rows) * 100

df_statistics = pd.DataFrame({
    'Métrica': ['Total', 'Engajamento Nulo'],
    'Quantidade': [total_rows, filtered_rows],
    'Percentual (%)': [100, round(percentage, 2)]
})

del percentage
del total_rows
del filtered_rows

- Dataframe contando generos e companias

In [111]:
df_genres_count = df_movie['genres'].str.split(', ').explode().value_counts().reset_index()
df_genres_count

             genres   count
0             Drama  229583
1       Documentary  177028
2            Comedy  142705
3         Animation   61077
4            Horror   54866
5             Music   52450
6           Romance   51230
7          Thriller   46767
8            Action   44370
9             Crime   33630
10           Family   28555
11         TV Movie   24104
12        Adventure   23812
13          Fantasy   22915
14  Science Fiction   21811
15          Mystery   20759
16          History   17130
17              War   10865
18          Western    8866

In [131]:
df_companies_count = df_movie['production_companies'].str.split(', ').explode().value_counts().reset_index()
df_companies_count = df_companies_count.loc[df_companies_count['count'] > 50]
df_companies_count

        production_companies  count
0                        BBC   3307
1      Warner Bros. Pictures   3162
2          Columbia Pictures   2910
3        Metro-Goldwyn-Mayer   2854
4                  ONF | NFB   2807
...                      ...    ...
1318  Butcher's Film Service     51
1319        Two Cities Films     51
1320                    BeTV     51
1321         Yoshimoto Kogyo     51
1322           Media Factory     51

[1323 rows x 2 columns]

In [106]:
df_duration = df_movie.loc[df_movie['runtime'] > 60,'runtime']
df_duration

0          148
1          169
2          152
3          162
4          143
          ...
1304579    190
1304580    170
1304583     95
1304588     80
1304589     70
Name: runtime, Length: 376710, dtype: int64

In [94]:
df_movie.loc[
    ((df_movie['popularity'] > 1.0) | (df_movie['vote_count'] > 20)) &
    ((df_movie['revenue'] > 0) | (df_movie['budget'] > 0))
    ]

,id,title,vote_average,vote_count,release_date,revenue,runtime,budget,original_language,original_title,popularity,genres,production_companies,production_countries
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America"
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,165000000,en,Interstellar,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America"
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,185000000,en,The Dark Knight,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America"
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,237000000,en,Avatar,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom"
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,220000000,en,The Avengers,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302296,818285,My Brother's Keeper,0.000,0,2021-04-01,0,97,7000,en,My Brother's Keeper,1.284,Thriller,Victory Productions,United States of America
1302777,814029,White Terror,0.000,0,2020-07-31,0,80,750000,en,White Terror,1.480,"Drama, Horror, Mystery, Thriller","Error 404 Productions, Seven Look Productions",United States of America
1303954,816654,Greta,0.000,0,2021-04-09,0,8,600,en,Greta,1.130,Drama,NaN,United States of America
1304070,816450,Black Friday Subliminal,0.000,0,2021-05-28,0,86,2500000,en,Black Friday Subliminal,1.018,"Horror, Mystery",Robin Troja Films,United States of America
1304311,814546,Chasing Eagle Rock,0.000,0,2020-07-31,0,83,10000,en,Chasing Eagle Rock,1.716,Drama,Stub A Toe Productions,United States of America

- Dlist por década

In [ ]:
def get_season(date):
    if pd.isnull(date):
        return None
    month = date.month
    if month in [12, 1, 2]:
        return 'Verão'
    elif month in [3, 4, 5]:
        return 'Outono'
    elif month in [6, 7, 8]:
        return 'Inverno'
    else:
        return 'Primavera'

df_movie['decade'] = ((df_movie['release_date'].dt.year // 10) * 10).astype('Int64')
df_movie['season'] = df_movie['release_date'].apply(get_season)
df_movie.loc[df_movie['decade'] < 1900, 'decade'] = 1000 #Antes de 1900
df_movie

,id,title,vote_average,vote_count,release_date,revenue,runtime,budget,original_language,original_title,popularity,genres,production_companies,production_countries,decade,season
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,Inception,83.9520,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America",2010,Inverno
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,165000000,en,Interstellar,140.2410,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",2010,Primavera
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,185000000,en,The Dark Knight,130.6430,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America",2000,Inverno
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,237000000,en,Avatar,79.9320,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom",2000,Verão
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,220000000,en,The Avengers,98.0820,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,2010,Outono
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304583,814885,Away Bus,0.000,0,2019-04-20,0,95,0,en,Away Bus,0.6000,Drama,NaN,Ghana,2010,Outono
1304584,814886,L is for Lesbian,0.000,0,2020-01-01,0,4,0,pt,O L é de Lésbica,0.6000,NaN,NaN,NaN,2020,Verão
1304585,814887,Paradise,0.000,0,NaT,0,6,0,en,Paradise,0.6000,NaN,NaN,NaN,<NA>,None
1304588,814891,Howl,0.000,0,2021-04-05,0,80,0,en,Howl,0.9400,Horror,NaN,NaN,2020,Outono
1304589,1563073,Joachim Kühn and Michael Wollny @ Liepzig Jazz...,0.000,0,2024-01-01,0,70,0,xx,Joachim Kühn and Michael Wollny Liepzig Jazz D...,0.0071,Music,Divitainment GmbH,Germany,2020,Verão

- Criando dataframe relacionando a decada e season.

In [ ]:
df_decade_by_season = df_movie.groupby(
    ['decade', 'season']
    ).size().reset_index(name='count').pivot(
        index='decade', columns='season', values='count').fillna(0).astype(int).reindex(columns=[
            'Verão', 'Outono', 'Inverno', 'Primavera'
            ]).reset_index()

df_decade_by_season = df_decade_by_season.loc[~
((df_decade_by_season['decade'] == 2030) | (df_decade_by_season['decade'] == 2050) | (df_decade_by_season['decade'] == 2060))
]

df_decade_by_season['decade'] = df_decade_by_season['decade'].astype(str)
df_decade_by_season.loc[df_decade_by_season['decade'] == '1000','decade'] = 'Antes de 1900'
df_decade_by_season['decade'] = df_decade_by_season['decade'] + 's'

df_decade_by_season

season          decade  Verão  Outono  Inverno  Primavera
0       Antes de 1900s    768     502      344        489
1                1900s   1529     764      553        772
2                1910s   4920    2893     2718       3230
3                1920s   5332    3121     2532       3733
4                1930s   6828    4351     3554       4575
5                1940s   6738    3587     3332       3953
6                1950s  10761    4847     4580       5189
7                1960s  18600    6909     6236       6897
8                1970s  25457    9242     7730       8948
9                1980s  29452   10265     9360      10561
10               1990s  34516   11570    11335      13316
11               2000s  51778   23913    23663      30681
12               2010s  79659   57595    54334      73192
13               2020s  48828   49333    47217      57655

### Subset com recorte estatístico

- Farei um recorte baseado na integridade dos dados de budget e revenue
- Removendo entradas sem release date e sem genero

In [ ]:
df_movies_finance_chunk = df_movie.loc[
    (df_movie['revenue'] >= 1000) | (df_movie['budget'] >= 1000)
    ]
df_movies_finance_chunk = df_movies_finance_chunk.loc[~df_movies_finance_chunk['release_date'].isna()]
df_movies_finance_chunk = df_movies_finance_chunk.loc[~df_movies_finance_chunk['genres'].isna()]

df_movies_finance_chunk

,id,title,vote_average,vote_count,release_date,revenue,runtime,budget,original_language,original_title,popularity,genres,production_companies,production_countries,decade,season
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America",2010,Inverno
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,165000000,en,Interstellar,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",2010,Primavera
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,185000000,en,The Dark Knight,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America",2000,Inverno
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,237000000,en,Avatar,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom",2000,Verão
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,220000000,en,The Avengers,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,2010,Outono
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304359,815008,Bambolina,0.000,0,2019-07-06,0,13,2000,it,Bambolina,0.600,Crime,NaN,Italy,2010,Inverno
1304397,814975,Angie Lemaire,0.000,0,2019-10-14,0,20,1500,en,Angie Lemaire,0.600,Drama,Sidney Lee Berthier Pictures,United Kingdom,2010,Primavera
1304475,814811,Umbra,0.000,0,2021-05-10,0,12,7000,en,Umbra,0.600,"Horror, Drama",University of North Carolina School of the Arts,United States of America,2020,Outono
1304509,814763,Dreams Washed Out,0.000,0,2018-04-28,0,118,350000,en,Dreams Washed Out,0.600,"Romance, Drama, Mystery",Filmex Ita s.r.l.,NaN,2010,Outono
1304536,814904,Still Together,0.000,0,2021-06-10,0,13,17500,en,Still Together,0.600,"Horror, Romance, Comedy",Olfactory Productions,NaN,2020,Inverno

In [ ]:
#df_movies_finance_chunk.loc[df_movies_finance_chunk['title'].str.contains('Star Wars')]
df_movies_finance_chunk = df_movies_finance_chunk.loc[
    ((df_movies_finance_chunk['revenue'] > 1000) & (df_movies_finance_chunk['budget'] > 1000)) &
    (df_movies_finance_chunk['vote_count'] > 100)
]
df_movies_finance_chunk

,id,title,vote_average,vote_count,release_date,revenue,runtime,budget,original_language,original_title,popularity,genres,production_companies,production_countries,decade,season
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America",2010,Inverno
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,165000000,en,Interstellar,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",2010,Primavera
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,185000000,en,The Dark Knight,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America",2000,Inverno
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,237000000,en,Avatar,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom",2000,Verão
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,220000000,en,The Avengers,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,2010,Outono
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18055,34421,The Perfect Weapon,6.100,101,1991-03-15,14061361,83,10000000,en,The Perfect Weapon,15.777,"Action, Drama, Crime",Paramount,United States of America,1990,Outono
18064,33974,Mammoth,6.079,101,2009-01-19,2033946,125,10000000,en,Mammoth,11.560,"Drama, Romance","Zentropa Entertainments, Memfis Film, Pain Unl...","Denmark, Germany, Sweden",2000,Verão
18082,37964,Brown Sugar,6.644,101,2002-10-05,27362712,109,8000000,en,Brown Sugar,12.395,"Comedy, Romance","Fox Searchlight Pictures, Evergreen Production...",United States of America,2000,Primavera
18083,474227,Inhumans: The First Chapter,5.297,101,2017-09-01,2600000,88,80000000,en,Inhumans: The First Chapter,18.488,"Science Fiction, Action, Adventure","ABC Studios, IMAX, Marvel Television",United States of America,2010,Primavera
18085,292,Dave Chappelle's Block Party,6.673,101,2005-09-12,11718595,100,3000000,en,Dave Chappelle's Block Party,7.824,"Comedy, Documentary, Music",Yari Film Group,United States of America,2000,Primavera

- Removendo valores nulos restantes

In [267]:
df_movies_finance_chunk = df_movies_finance_chunk.loc[~
    ((df_movies_finance_chunk['production_companies'].isna()) | (df_movies_finance_chunk['production_countries'].isna()))
    ]
df_movies_finance_chunk

,id,title,vote_average,vote_count,release_date,revenue,runtime,budget,original_language,original_title,popularity,genres,production_companies,production_countries,decade,season
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,Inception,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America",2010,Inverno
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,165000000,en,Interstellar,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",2010,Primavera
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,185000000,en,The Dark Knight,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America",2000,Inverno
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,237000000,en,Avatar,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom",2000,Verão
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,220000000,en,The Avengers,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,2010,Outono
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18055,34421,The Perfect Weapon,6.100,101,1991-03-15,14061361,83,10000000,en,The Perfect Weapon,15.777,"Action, Drama, Crime",Paramount,United States of America,1990,Outono
18064,33974,Mammoth,6.079,101,2009-01-19,2033946,125,10000000,en,Mammoth,11.560,"Drama, Romance","Zentropa Entertainments, Memfis Film, Pain Unl...","Denmark, Germany, Sweden",2000,Verão
18082,37964,Brown Sugar,6.644,101,2002-10-05,27362712,109,8000000,en,Brown Sugar,12.395,"Comedy, Romance","Fox Searchlight Pictures, Evergreen Production...",United States of America,2000,Primavera
18083,474227,Inhumans: The First Chapter,5.297,101,2017-09-01,2600000,88,80000000,en,Inhumans: The First Chapter,18.488,"Science Fiction, Action, Adventure","ABC Studios, IMAX, Marvel Television",United States of America,2010,Primavera
18085,292,Dave Chappelle's Block Party,6.673,101,2005-09-12,11718595,100,3000000,en,Dave Chappelle's Block Party,7.824,"Comedy, Documentary, Music",Yari Film Group,United States of America,2000,Primavera

In [269]:
df_movies_finance_chunk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7028 entries, 0 to 18085
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    7028 non-null   int64
 1   title                 7028 non-null   object
 2   vote_average          7028 non-null   float64
 3   vote_count            7028 non-null   int64
 4   release_date          7028 non-null   datetime64[ns]
 5   revenue               7028 non-null   int64
 6   runtime               7028 non-null   int64
 7   budget                7028 non-null   int64
 8   original_language     7028 non-null   object
 9   original_title        7028 non-null   object
 10  popularity            7028 non-null   float64
 11  genres                7028 non-null   object
 12  production_companies  7028 non-null   object
 13  production_countries  7028 non-null   object
 14  decade                7028 non-null   Int64
 15  season                7028 non-null   object
dtypes: Int64(1), datetime64[ns](1), float64(2), int64(5), object(7)
memory usage: 940.3+ KB

In [268]:
df_movies_finance_chunk.isna().sum()

id                      0
title                   0
vote_average            0
vote_count              0
release_date            0
revenue                 0
runtime                 0
budget                  0
original_language       0
original_title          0
popularity              0
genres                  0
production_companies    0
production_countries    0
decade                  0
season                  0
dtype: int64

In [288]:
#df_movies_finance_chunk['genres'].str.split(', ').explode('genres_list')
aux_genres_by_revenue = df_movies_finance_chunk[['genres','revenue','budget']]
aux_genres_by_revenue['genres_list'] = aux_genres_by_revenue['genres'].str.split(', ')
aux_genres_by_revenue.explode('genres_list')

C:\Users\Rick\AppData\Local\Temp\ipykernel_16992\2256857452.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux_genres_by_revenue['genres_list'] = aux_genres_by_revenue['genres'].str.split(', ')

,genres,revenue,budget,genres_list
0,"Action, Science Fiction, Adventure",825532764,160000000,Action
0,"Action, Science Fiction, Adventure",825532764,160000000,Science Fiction
0,"Action, Science Fiction, Adventure",825532764,160000000,Adventure
1,"Adventure, Drama, Science Fiction",701729206,165000000,Adventure
1,"Adventure, Drama, Science Fiction",701729206,165000000,Drama
...,...,...,...,...
18083,"Science Fiction, Action, Adventure",2600000,80000000,Action
18083,"Science Fiction, Action, Adventure",2600000,80000000,Adventure
18085,"Comedy, Documentary, Music",11718595,3000000,Comedy
18085,"Comedy, Documentary, Music",11718595,3000000,Documentary
18085,"Comedy, Documentary, Music",11718595,3000000,Music

- Criado tabela que relaciona a receita com os generos

In [297]:
df_receita_por_genero = pd.merge((
    aux_genres_by_revenue.explode('genres_list')
    .groupby('genres_list')['revenue'].agg(['sum','mean','min','max'])
    .sort_values('sum', ascending=False)
    .reset_index()).rename(columns={
        'sum':'faturamento_total',
        'mean':'faturamento_media',
        'min': 'faturamento_menor',
        'max': 'faturamento_maior'
        }),
    (aux_genres_by_revenue.explode('genres_list')
        .groupby('genres_list')['budget']
        .agg(['sum','mean','min','max'])
        .sort_values('sum', ascending=False)
        .reset_index()).rename(columns={
                'sum':'budget_total',
                'mean':'budget_media',
                'min': 'budget_menor',
                'max': 'budget_maior'
                }))
df_receita_por_genero

,genres_list,faturamento_total,faturamento_media,faturamento_menor,faturamento_maior,budget_total,budget_media,budget_menor,budget_maior
0,Adventure,278412912924,2.117208e+08,5000,2923706026,87298328516,6.638656e+07,12000,460000000
1,Action,276139753572,1.526477e+08,4537,2923706026,97516703061,5.390641e+07,7225,460000000
2,Comedy,214591886722,8.583675e+07,1938,1450026933,73149585186,2.925983e+07,12000,250000000
3,Drama,189561951621,6.000695e+07,1938,2264162353,72526602186,2.295872e+07,6000,260000000
4,Thriller,147870969017,7.836299e+07,2521,1671537444,57614053046,3.053209e+07,6000,340000000
5,Science Fiction,138314229024,1.650528e+08,5303,2923706026,46785769597,5.583027e+07,7000,460000000
6,Fantasy,135082167229,1.772732e+08,5000,2923706026,44129690372,5.791298e+07,30000,379000000
7,Family,128694910991,1.709096e+08,5000,1663075401,41251217150,5.478249e+07,75000,260000000
8,Romance,87529689504,7.145281e+07,3331,2264162353,28150920155,2.298034e+07,17000,250000000
9,Animation,87352577907,2.060202e+08,39091,1450026933,25702546172,6.061921e+07,250000,260000000
10,Crime,74756658555,6.540390e+07,3153,1515341399,31222930437,2.731665e+07,7225,340000000
11,Horror,43699422842,4.850102e+07,3331,701800000,13908407641,1.543663e+07,10000,200000000
12,Mystery,42434668194,6.478575e+07,5206,770945583,16862190147,2.574380e+07,15000,190000000
13,History,23894939131,6.288142e+07,20311,933700000,11640073355,3.063177e+07,20000,175000000
14,War,20103811034,7.337157e+07,18295,870322670,8511832035,3.106508e+07,20000,175000000
15,Music,15330270226,6.607875e+07,5000,903992901,4946638251,2.132172e+07,160000,175000000
16,Western,6141661356,5.161060e+07,4500,532950503,3180121190,2.672371e+07,200000,215000000
17,Documentary,1742107808,3.350207e+07,13308,261200000,315909099,6.075175e+06,25000,60000000
18,TV Movie,52219883,1.044398e+07,5000,42000000,17130178,3.426036e+06,130178,7000000

In [304]:
aux_companies_by_reveue = df_movies_finance_chunk[['production_companies','revenue','budget']]
aux_companies_by_reveue['production_companies_list'] = aux_companies_by_reveue['production_companies'].str.split(', ')
aux_companies_by_reveue.explode('production_companies_list')

C:\Users\Rick\AppData\Local\Temp\ipykernel_16992\2067707355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux_companies_by_reveue['production_companies_list'] = aux_companies_by_reveue['production_companies'].str.split(', ')

,production_companies,revenue,budget,production_companies_list
0,"Legendary Pictures, Syncopy, Warner Bros. Pict...",825532764,160000000,Legendary Pictures
0,"Legendary Pictures, Syncopy, Warner Bros. Pict...",825532764,160000000,Syncopy
0,"Legendary Pictures, Syncopy, Warner Bros. Pict...",825532764,160000000,Warner Bros. Pictures
1,"Legendary Pictures, Syncopy, Lynda Obst Produc...",701729206,165000000,Legendary Pictures
1,"Legendary Pictures, Syncopy, Lynda Obst Produc...",701729206,165000000,Syncopy
...,...,...,...,...
18082,"Fox Searchlight Pictures, Evergreen Production...",27362712,8000000,20th Century Fox
18083,"ABC Studios, IMAX, Marvel Television",2600000,80000000,ABC Studios
18083,"ABC Studios, IMAX, Marvel Television",2600000,80000000,IMAX
18083,"ABC Studios, IMAX, Marvel Television",2600000,80000000,Marvel Television
18085,Yari Film Group,11718595,3000000,Yari Film Group

In [ ]:
df_receita_por_produtora = pd.merge((
    aux_companies_by_reveue.explode('production_companies_list')
    .groupby('production_companies_list')['revenue'].agg(['sum','mean','min','max','count'])
    .sort_values('sum', ascending=False)
    .reset_index()).rename(columns={
        'sum':'faturamento_total',
        'mean':'faturamento_media',
        'min': 'faturamento_menor',
        'max': 'faturamento_maior'

        }),
    (aux_companies_by_reveue.explode('production_companies_list')
        .groupby('production_companies_list')['budget']
        .agg(['sum','mean','min','max'])
        .sort_values('sum', ascending=False)
        .reset_index()).rename(columns={
                'sum':'budget_total',
                'mean':'budget_media',
                'min': 'budget_menor',
                'max': 'budget_maior'
                }))
df_receita_por_produtora

,production_companies_list,faturamento_total,faturamento_media,faturamento_menor,faturamento_maior,count,budget_total,budget_media,budget_menor,budget_maior
0,Warner Bros. Pictures,78340137054,1.381660e+08,71368,1341511219,567,30050951454,5.299991e+07,151000,300000000
1,Universal Pictures,75498433711,1.372699e+08,65708,1671537444,550,22867276027,4.157687e+07,95745,340000000
2,20th Century Fox,62732640527,1.445453e+08,6344,2923706026,434,18441938764,4.249295e+07,220000,250000000
3,Paramount,62212369446,1.388669e+08,46509,2264162353,448,20673826472,4.614693e+07,300000,291000000
4,Columbia Pictures,58657397327,1.389986e+08,14873,1921847111,422,20557161961,4.871365e+07,7225,258000000
...,...,...,...,...,...,...,...,...,...,...
7528,Pretzel Fang Productions,3153,3.153000e+03,3153,3153,1,18000000,1.800000e+07,18000000,18000000
7529,Oscar Generale Productions,3153,3.153000e+03,3153,3153,1,18000000,1.800000e+07,18000000,18000000
7530,H2O Motion Pictures,2521,2.521000e+03,2521,2521,1,12000000,1.200000e+07,12000000,12000000
7531,Middle Child Films Inc.,2521,2.521000e+03,2521,2521,1,12000000,1.200000e+07,12000000,12000000
7532,2262730 Ontario,2521,2.521000e+03,2521,2521,1,12000000,1.200000e+07,12000000,12000000

## Export

In [ ]:
df_genres_count.to_csv("../data/processed/genres_count.csv", index=False)
df_companies_count.to_csv("../data/processed/companies_count.csv", index=False)
df_duration.to_csv("../data/processed/duration_list.csv", index=False)
df_decade_by_season.to_csv("../data/processed/decade_by_season.csv", index=False)
df_movies_finance_chunk.to_csv("../data/processed/movie_finance_chunk.csv", index=False)
df_receita_por_genero.to_csv("../data/processed/receita_por_genero.csv", index=False)
df_receita_por_produtora.to_csv("../data/processed/receita_por_produtora.csv", index=False)